
$default-desktop-horizontal-padding-button: 20px;

// indent vertical
$vertical-indent-xs: 8px;
$vertical-indent-s: 13px;
$vertical-indent-m: 16px;
$vertical-indent-xm: 18px;
$vertical-indent-xxm: 22px;
$vertical-indent-l: 24px;
// $vertical-indent-xl: 13px;
// $vertical-indent-xl: 13px;
$vertical-indent-xl: 32px;
// $vertical-indent-xl: 13px;

// font-size common 
$text-fontSize-s: 10px;
$text-fontSize-m: 13px;
$text-fontSize-l: 15px;

// line-height common

$text-lineHeight-s: 15px;
$text-lineHeight-sm: 18px;
$text-lineHeight-m: 20px;
$text-lineHeight-l: 15px;

//  button var
$default-button-background-color: #E6E6E6;
$default-button-hover-background-color: #DBDBDB;
$default-button-focus-color:#B3B3B3;
$accent-button-background-color: #FFCC00;
$accent-hover-button-background-color: #F2C200;
$accent-focus-button-color: #B38F00;
$default-text-button-fontSize: $text-fontSize-m;
$default-text-button-fontWeight: normal;
$default-text-button-lineHeight: 36px;
$default-text-button-fontStyle: normal;
$control-button-text-lineHeight: 28px;
$default-border-radius: 4px;
$control-button-left-padding: 13px;
// icon var
$default-padding-icon: 8px;

// title var
$default-lineHeight-title: 28px;
$default-title-color:#7F8285;
$default-title-fontSize: 24px;
$default-title-fontWeight: 500;
$default-title-fontStyle: normal;


// title touch 
$touch-title-lineHeight: 22px;
$touch-title-fontSize: 18px;

// text var
$primary-text-color: #000;
$secondary-text-color:#7F8285;
$default-fontFamily: "YS Text";
$hover-color-link:#E00000;
$sup-text-color: #FF3333;
$good-pr-color: #00B341;
$history-commit-color: #595959;
// footer 
$primary-background-color-footer: #F0F2F3;

// field padding
$default-field-padding: 13px;
$default-field-padding-vertical: 8px;
$default-field-color-border: #D9D9D9;
$focus-field-color: #B3B3B3;
$field-margin-vertical: 6px;