.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_settings {
    margin-bottom: $vertical-indent-xm;
  }  

  &__title {
    margin: 0;
    font-style: $default-title-fontStyle;
    font-weight: $default-title-fontWeight;
    font-size: $default-title-fontSize;
    line-height: $default-lineHeight-title;
    color: $default-title-color;
    
    & a { 
      color: $default-title-color;
      text-decoration: none;
    }
    @media screen and (max-width: 420px) {
      font-size: $touch-title-fontSize;
      line-height: $touch-title-lineHeight;
    }
    
    &_history {
      color: $primary-text-color;
      max-width: 350px;
      @media screen and (max-width: 500px) {
        font-size: $touch-title-fontSize;
      }
    }
  }
  
  &__button {
    padding: 0;
    display: flex;
    line-height: $control-button-text-lineHeight;
    
    &_history {
      margin-left: 8px;
    }
  }

  &__content {
    margin-bottom: 215px;

    
    @media screen and (max-width: 420px) {
      margin-bottom: 109px;
    }
  }

  &__history-indent {
    margin-bottom: $vertical-indent-xm;
  }

  &__button-wrapper {
    display: flex;
  }
}