.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_settings {
    margin-bottom: $vertical-indent-xm;
  }  

  &__title {
    margin: 0;
    font-style: $default-title-fontStyle;
    font-weight: $default-title-fontWeight;
    font-size: $default-title-fontSize;
    line-height: $default-lineHeight-title;
    color: $default-title-color;
    
    @media screen and (max-width: 420px) {
      font-size: $touch-title-fontSize;
      line-height: $touch-title-lineHeight;
    }
  }

  &__button {
    padding: 0;
    display: flex;
    line-height: $control-button-text-lineHeight;
  }

  &__content {
    margin-bottom: 215px;

    @media screen and (max-width: 420px) {
      margin-bottom: 109px;
    }
  }
}